{release, {sv_example, "0.2.0"},
 [{sv_example, permanent} ]}.

{extended_start_script, true}.
{sys_config, "rel/sys.config"}.

{overlay, [{mkdir, "log"},
           {mkdir, "spool"},
           {mkdir, "data"},
           {copy, "rel/vm.args",
            "releases/\{\{release_version\}\}/vm.args"}
          ]}.
