[{safetyvalve,
   [{queues,
      [{web_queue, %% Name of the queue // HL
        [{hz, 100}, % Replenish the queue every 100 ms
         {rate, 100},  % Produce 100 requests per poll
         {token_limit, 300}, % Allow a 300 token burst
         {size, 300}, % Keep at most 300 tasks waiting
         {concurrency, 40}]}]}]} % Run at most 40 requests concurrently
].